
<h1 class="text-center mt-3">profiles</h1>
<div class="row">
  

    <div class="col-12 col-md-4">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">帳戶資訊</a>
        <a href="#" class="list-group-item list-group-item-action">角色庫</a>
        <a href="#" class="list-group-item list-group-item-action">場景庫</a>
        <a href="#" class="list-group-item list-group-item-action">事件庫</a>
        <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ipsa sit ducimus fugit non aspernatur incidunt beatae commodi, illum enim, totam aliquid! Excepturi culpa necessitatibus fuga modi blanditiis, laboriosam aut?</p>
    </div>    

</div>