<div class="row mt-3">
  <div class="col-12">
    <h1 class="text-center">Generators</h1>
  </div>
  <div class="col-12 col-md-6 mx-auto button-gp">
    <div class="col-12 mt-2">
      <%= link_to '創建角色', characters_path, class: 'btn btn-block create-characters' %>
    </div>
    <div class="col-12 mt-2">
      <%= link_to '創建場景', "#", class: 'btn btn-block create-characters' %>
    </div>
      <div class="col-12 mt-2">
        <%= link_to '創建事件', "#", class: 'btn btn-block create-characters' %>
    </div>
  </div>
</div>

